name: Swift

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: macOS-latest
    strategy:
        matrix:
          destination: ['platform=iOS Simulator,OS=14.0,name=iPhone 11']
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Install Coverage
      run: |
        .Package(url:"https://github.com/elegantchaos/Coverage.git", branch:"master")
        coverage --help
      
    - name: Build and Test
      run: |
        xcodebuild clean test -project FutList.xcodeproj -scheme FutList -destination "${destination}" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO ONLY_ACTIVE_ARCH=NO
        coverage Test.xcresult Coverage --threshold=0.6
      env: 
        destination: ${{ matrix.destination }}
