name: Swift

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: macOS-latest
    strategy:
        matrix:
          destination: ['platform=iOS Simulator,OS=12.2,name=iPhone X']
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Build and Test
      run: | 
        cd FutList
        xcodebuild clean test -project FutList.xcodeproj -scheme FutList -destination "${destination}" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO ONLY_ACTIVE_ARCH=NO
        bash <(curl -s https://codecov.io/bash)
      env: 
        destination: ${{ matrix.destination }}
